<div class="container" style="min-height: 85vh">
  <h1 class="display-6 text-center mt-3 mb-4">Shops</h1>

  <table class="table table-striped mb-4">
    <thead>
      <tr>
        <th class="col-1" scope="col">#</th>
        <th class="col-8" scope="col">Name</th>
        <th class="col-2"scope="col">Capacity</th>
        <th class="col-1" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shop of shops$ | async">
        <th class="align-middle">{{shop.id}}</th>
        <td>{{shop.name}}</td>
        <td>{{shop.capacity}} paintings</td>
        <td class="d-flex">
          <a [routerLink]="['/shops',shop.id]"><i class="bi bi-eye-fill me-3 text-success" ></i></a>
          <a [routerLink]="['/shop-form',shop.id]"><i class="bi bi-pencil-fill me-3 text-primary"></i></a>
          <a><i class="bi bi-trash-fill me-3 text-danger" (click)="deleteShop(shop.id)"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mb-5">
    <button [routerLink]="'/shop-form/0'" class="btn btn-outline-primary me-5">Create Shop</button>
  </div>

</div>
